nav {
  background-color: #2c2c2c;
  margin-bottom: 0%;
}

.navbar-brand {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
}

.btn-default {
  margin-left: 5px;
}

.header-container {
  background-color: black;
  background-image: url("../../assets/jackDanielsClose.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  opacity: 90%;
  margin: 0px;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}

li {
  display: inline;
}

.wine-icon {
  color: white;
  font-size: 25px;
}

hr {
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 30px 30px -20px #333;
  margin: -50px auto 10px;
}

.navbar-toggler-icon {
  height: 30px;
  width: 50px;
}

.container {
  width: 100%;
}
