<div class="header">
  <div class="header-container">
  <nav class="navbar navbar-expand-lg shift">
    <a class="navbar-brand" href="#"><img class="logo" src="../../assets/logo.png" alt="" style="max-width:200px"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"><fa-icon [icon]="faCaret" *ngIf="!collapsed"></fa-icon><fa-icon [icon]="faCaretDown" *ngIf="collapsed"></fa-icon></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{collapse : collapsed}" (click)="collapsed = !collapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="cocktails"
            >Cocktails <span class="sr-only"></span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="favorite" *ngIf="isLoggedIn">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="bar">Bar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="cabinet" *ngIf="isLoggedIn">My Cabinet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="auth" *ngIf="!isLoggedIn">Login/Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onLogout()" *ngIf="isLoggedIn">Logout
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" style="color:rgb(63, 63, 63)" href="" (click)="ageVerified = !ageVerified">test</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
</div>

<!--HEADER-->
<!-- <div class="header">
  <div class="header-container">
    <div class="header-content">
    </div>
  </div>
</div> -->
<!-- </div> -->
