<app-letter-bar></app-letter-bar>
<h1>"Z" Cocktails</h1>

<div class="row">
  <div class="col-sm-4" *ngFor="let drink of zDrinks  | paginate
  : {
      itemsPerPage: 12,
      currentPage: p,
      totalItems: count
    }; let index = i">
    <app-drink-item [drink]="drink" [index]="i"></app-drink-item>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
