a {
  color: rgb(199, 175, 40);
}

.hr5 {
  margin: 5%;
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #ccc;
  text-align: center;
}

.hr5::after {
  content: "Most Popular Recipes";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 3rem;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

.container {
  margin-bottom: 100px;
}

.drink-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

@media (max-width:1000px) {
  .drink-grid {
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 2fr));
  }

}
@media (max-width:770px) {
  .hr5::after {
    font-size: 2rem;
    margin-bottom: 30%;
  }
}
@media (max-width:525px) {
  .hr5::after {
    font-size: 2rem;
    margin-bottom: 30%;
  }
}
@media (max-width:625px) {
  .drink-grid {
    margin-top: 5rem;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 2fr));
  }
}