.favoriteIcon {
  float: right;
}

/* .drink-box {
  position: relative;
  min-height: 300px;
} */

.drink-box .drink-name {
  font-weight: bold;
  font-size: 1.25rem;
  visibility: hidden;
}
span {
  color: rgba(212, 193, 18, 0.884);
  font-size: 300%;
}

button.selected {
  border: none;
  background-color: transparent;
}

.selectedButton {
  text-align: center;
}

button.star {
  color: rgb(238, 199, 71);
  border: none;
  background-color: transparent;
  font-size: 4vh;
}

h1 {
  font-weight: bold;
}


.drink-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  /* margin-top: 20px; */
  border-radius: 3%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, .2),  -5px -5px 15px rgb(255, 255, 255, 0.1),  5px 5px 15px rgb(0, 0, 0, 0.3), -5px -5px 15px rgb(255, 255, 255, 0.1);
  /* min-height: 300px; */
}

.drink-box:hover .drink-name{
  visibility: visible;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drink-box:hover img {
  filter: brightness(.5);
}

@media (max-width:1000px){
  .drink-box .drink-name {
    font-size: 1rem;
    visibility: visible;
  }
}