
.drink-container {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 5px 3px 3px gray;
  padding: 10px;
  margin-top: 20px;
  min-height: 120px;
  text-align: center;
}


#item-name {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.btn {
  border: none;
  background-color: rgb(238, 199, 71);
  font-weight: bold;
}


h1 {
  font-weight: bold;
}

.hr2 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

.hr2::after {
  content: "Search Ingredients";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.15rem;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

.hr5 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

.hr5::after {
  content: "Ingredients List";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.75rem;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

.search-bar {
  text-align: center;
  padding-top: 15px;
}

input {
  border: 1px solid black;
  width: 200px;
  height: 30px;
}

.search-button {
  margin-left: 5px;
}

@media (max-width:625px) {
  .hr5::after {
    font-size: 2rem;
    margin-bottom: 5px;
  }

}