<div class=" d-flex flex-column min-vh-100">
<div class="splash-page" *ngIf="splashPage && ageVerified">
  <div class="container splash-contents">
    <h1 class="welcome-text"> Welcome To</h1>
      <img src="../assets/DrinkUp.png" alt="" class="logo mb-4">
    <p class="age">Are you at least 21 years of age?</p>
    <button class="btn btn-outline-light" (click)="splashPage = !splashPage"> YES </button>
    <button class="btn btn-outline-light" (click)="ageVerified = !ageVerified"> NO </button>
  </div>
</div>

<div *ngIf="!ageVerified" class="age-section">
  <img src="../assets/age.png" alt="" class="age-image" (click)="ageVerified = !ageVerified">
</div>

<div *ngIf="!splashPage">
<app-header [ageVerified]="ageVerified"></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>


<footer *ngIf="router.url != '/'">
  <img class="logo" src="../assets/logo.png" alt="">
</footer>
<!-- <div *ngIf="!splashPage">
  <div class="footer w-100 pb-0 pt-0">
<app-footer style="margin:0px auto"></app-footer>
</div>
</div> -->
</div>