<!-- Cocktails by letter Headline -->

<div class="container">
  <hr class="hr6" />
  <div class="letters">
    <a class="headerName" routerLink="/a" routerLinkActive="router-link-active"
      >A</a
    >
    <a class="headerName" routerLink="/b" routerLinkActive="router-link-active"
      >B</a
    >
    <a class="headerName" routerLink="/c" routerLinkActive="router-link-active"
      >C</a
    >
    <a class="headerName" routerLink="/d" routerLinkActive="router-link-active"
      >D</a
    >
    <a class="headerName" routerLink="/e" routerLinkActive="router-link-active"
      >E</a
    >
    <a class="headerName" routerLink="/f" routerLinkActive="router-link-active"
      >F</a
    >
    <a class="headerName" routerLink="/g" routerLinkActive="router-link-active"
      >G</a
    >
    <a class="headerName" routerLink="/h" routerLinkActive="router-link-active"
      >H</a
    >
    <a class="headerName" routerLink="/i" routerLinkActive="router-link-active"
      >I</a
    >
    <a class="headerName" routerLink="/j" routerLinkActive="router-link-active"
      >J</a
    >
    <a class="headerName" routerLink="/k" routerLinkActive="router-link-active"
      >K</a
    >
    <a class="headerName" routerLink="/l" routerLinkActive="router-link-active"
      >L</a
    >
    <a class="headerName" routerLink="/m" routerLinkActive="router-link-active"
      >M</a
    >
    <a class="headerName" routerLink="/n" routerLinkActive="router-link-active"
      >N</a
    >
    <a class="headerName" routerLink="/o" routerLinkActive="router-link-active"
      >O</a
    >
    <a class="headerName" routerLink="/p" routerLinkActive="router-link-active"
      >P</a
    >
    <a class="headerName" routerLink="/q" routerLinkActive="router-link-active"
      >Q</a
    >
    <a class="headerName" routerLink="/r" routerLinkActive="router-link-active"
      >R</a
    >
    <a class="headerName" routerLink="/s" routerLinkActive="router-link-active"
      >S</a
    >
    <a class="headerName" routerLink="/t" routerLinkActive="router-link-active"
      >T</a
    >
    <a class="headerName" routerLink="/u" routerLinkActive="router-link-active"
      >U</a
    >
    <a class="headerName" routerLink="/v" routerLinkActive="router-link-active"
      >V</a
    >
    <a class="headerName" routerLink="/w" routerLinkActive="router-link-active"
      >W</a
    >
    <a class="headerName" routerLink="/x" routerLinkActive="router-link-active"
      >X</a
    >
    <a class="headerName" routerLink="/y" routerLinkActive="router-link-active"
      >Y</a
    >
    <a class="headerName" routerLink="/z" routerLinkActive="router-link-active"
      >Z</a
    >
  </div>
</div>
