.drink-container {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 5px 3px 3px  gray;
  padding: 10px;
  margin-top: 20px;
}


#item-name {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.btn {
  border: none;
  background-color: rgb(238, 199, 71);
  font-weight: bold;

}

h1 {
  font-weight: bold;
  margin-top: 50px;
}
