/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "AmberWhiskey-Aged";
    src: url("./assets/fonts/AmberWhiskey-Aged.otf") format("opentype");
}
body {
    height: 100vh;
}

