<!-- Opening Word -->
<div class="opening">
  <fa-icon class="wine-left" [icon]="faWine"></fa-icon>
  <fa-icon class="wine-right" [icon]="faWine"></fa-icon>
  <p id="opening">
    Learn how to make great cocktails in the comfort of your own home.
    <br />Search by recipe name.
  </p>
</div>

<div class="container">
  <div class="search">
    <input type="text" placeholder="Search" [(ngModel)]="search" />
    <button (click)="searchDrink(search)">Search</button>
  </div>
</div>

<div class="results">
  <div class = "noResults text-center mt-3" *ngIf="cocktailList.length==0 && clicked >0"><h3>No Results Found</h3></div>
  <div class="row">
    <div class="col-lg-3" *ngFor="let drink of getMatchingList()">
      <div class="drink-container">
        <a
          [routerLink]="'/cocktails/' + drink.idDrink"
          (click)="drinkDetail(drink.idDrink); getIngredients(drink)"
        >
          <img
            class="drink-image"
            src="{{ drink.strDrinkThumb }}"
            alt="{{ drink.strDrink }}"
        /></a>
        <p id="drink-name">{{ drink.strDrink }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Featured Cocktails Headline -->
<hr class="hr7" />
<div class="drink-container">
  <div class="drink-box">
    <div class="panel">
    <div class="content">
      <a
        [routerLink]="'/cocktails/' + drinkOne.idDrink"
        (click)="drinkDetail(drinkOne.idDrink)"
      >
        <img class="featured" src="{{ drinkOne.strDrinkThumb }}" alt=""
      /></a>
      <p id="featured-name">{{ drinkOne.strDrink }}</p>
    </div>
    </div>
  </div>
  <div class="drink-box">
    <div class="panel">
    <div class="content">
      <a
        [routerLink]="'/cocktails/' + drinkTwo.idDrink"
        (click)="drinkDetail(drinkTwo.idDrink)"
      >
        <img class="featured" src="{{ drinkTwo.strDrinkThumb }}" alt=""
      /></a>
      <p id="featured-name">{{ drinkTwo.strDrink }}</p>
    </div>
    </div>
  </div>
  <div class="drink-box">
    <div class="panel">
    <div class="content">
      <a
        [routerLink]="'/cocktails/' + drinkThree.idDrink"
        (click)="drinkDetail(drinkThree.idDrink)"
      >
        <img class="featured" src="{{ drinkThree.strDrinkThumb }}" alt=""
      /></a>
      <p id="featured-name">{{ drinkThree.strDrink }}</p>
    </div>
    </div>
  </div>
</div>

<div class="banners">
  <div class="middle-pineapple">
    <h1 class="middle-font">Pineapple</h1>
  </div>
<div class="middle-lime">
  <h1 class="middle-font">Lime</h1>
</div>
<div class="middle-chocolate">
  <h1 class="middle-font">Chocolate</h1>
</div>
<div class="middle-apples">
  <h1 class="middle-font">Apple</h1>
</div>
</div>

<!-- Popular Cocktails Headline -->
<!-- <div class="container">
<hr class="hr5" />

<div class="container-fluid">
  <div class="circle-line" *ngFor="let drink of myDrinks.slice(0,5)">
    <div class="image-dot">
      <a
        [routerLink]="'/cocktails/' + drink.idDrink"
        (click)="drinkDetail(drink.idDrink)"
        ><img class="circle" src="{{ drink.strDrinkThumb }}" alt=""
      /></a>
      <p class="text">{{ drink.strDrink }}</p>
    </div>
  </div>
</div>
</div> -->
