
.container {
  align-items: center;
  text-align: center;
}

.btn {
  border: none;
  background-color: rgb(238, 199, 71);
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  height: 180px;
  align-items: center;
}

.circle-line {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  margin: 10px;
  padding-top: 20px;
}
.hr5 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0px;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

.hr5::after {
  content: "Most Popular Recipes";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.4em;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

.hr6 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0px;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}

.hr6::after {
  content: "Cocktails by Category";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.4em;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

.circle-line .text {
  /* visibility: hidden; */
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(97, 97, 97);
  margin-top: 10px;
}

.hr7 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #ccc;
  text-align: center;
  margin-top: 80px;
}

.hr7::after {
  content: "Featured Recipes";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2.4em;
  padding: 0 0.3em;
  background: white;
  color: black;
  font-weight: bold;
}

#featured-name {
  text-align: left;
  padding-top: 20px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.opening {
  margin-top: 50px;
}

.opening-text {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: rgb(197, 161, 0);
}

.wine-left {
  font-size: 50px;
  float: left;
  transform: rotate(340deg);
}
.wine-right {
  font-size: 50px;
  transform: rotate(20deg);
  float: right;
}


.content img {
  min-width: 100%;
  max-width: 100%;
  display: block;
  max-height: 200px;
}

.search-button {
  margin: 5px;
  background-color: white;
  border: 2px solid rgb(190, 160, 62);
  box-shadow: 0px 2px 0 rgb(190, 160, 62), 2px 4px 6px rgb(190, 160, 62);
  font-weight: bold;
  color: rgb(190, 160, 62);
  padding-left: 5px;
  padding-right: 5px;
}

.content {
  left: 0;
  padding: 20px 40px;
  background: rgba(214, 214, 214, 0.192);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: rgb(0, 0, 0);
  max-height: 300px;

}

.panel
{
  position: relative;
  width: 80%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 1s;
}

.panel::before
{
  content:' ';
  position: absolute;
  top: 0;
  /* left: 50px;
  width: 50%; */
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 1s;
}

.panel::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 1s;
  filter: blur(30px);
}

.panel:hover:before,
.panel:hover:after
{
  transform: skewX(0deg);
  /* left: 20px; */
  width: calc(100% - 90px);
}

.panel:nth-child(1):before,
.panel:nth-child(1):after
{
  background: linear-gradient(315deg ,#00d9ff, #04b849,  orange)
}

.drink-container {
  padding-top: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 10px;
}

@media (min-width: 1200px) {
  .content img {
    max-height: 400px;
  }
  .panel {
    max-height: 500px;
  }
  .content {
    max-height: 500px;
  }
}


.middle-font {
  font-family: "AmberWhiskey-Aged";
  font-size: 10rem;
  color: rgb(255, 255, 255);
}

.middle-lime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(182, 255, 245);
  height: 300px;
  left: 0;
  background-image: url("../../assets/lime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-pineapple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(182, 255, 245);
  height: 300px;
  left: 0;
  background-image: url("../../assets/pineapple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-chocolate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(182, 255, 245);
  height: 300px;
  left: 0;
  background-image: url("../../assets/chocolate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-apples {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(182, 255, 245);
  height: 300px;
  left: 0;
  background-image: url("../../assets/apples.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banners {
  left:0;
  position: absolute;
}

.search-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 10px;
}

.search-box {
  position: relative;
  /* min-height: 300px; */
}

.search-box .search-name {
  font-weight: bold;
  font-size: 1.25rem;
  visibility: hidden;
}

.search-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  /* margin-top: 20px; */
  border-radius: 3%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, .2),  -5px -5px 15px rgb(255, 255, 255, 0.1),  5px 5px 15px rgb(0, 0, 0, 0.3), -5px -5px 15px rgb(255, 255, 255, 0.1);
  /* min-height: 300px; */
}

.search-box:hover .search-name{
  visibility: visible;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-box:hover img {
  filter: brightness(.5);
}

.banner-button {
  border: none;
  margin:0;
  background-color: transparent;
  padding: 0;
  left: 0;
}

@media (max-width:625px) {
  .middle-font {
    font-size: 5rem;
  }

}

  @media(min-width:1200px) {
    .opening-text {
      font-size: 2.25rem;
    }
  }
